@import './components/header.css';
:root {
  --bg-layer: rgba(36, 42, 69, 0.904);
  --just-white: #fff;
  --just-pink: #fa5959;
  --baseFont: 'Rubik', sans-serif;
  --mobile-linkBold: 500 1.25rem / 1.0625rem var(--baseFont);
  --mobile-linkRegular: 400 1.25rem / 1.0625rem var(--baseFont);
  --desktop-linkBold: 500 0.8125rem / 1.0625rem var(--baseFont);
  --desktop-linkRegular: 400 0.8125rem / 1.0625rem var(--baseFont);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--baseFont);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.wrapper {
  max-inline-size: 1184px;
  margin: auto;
}
