/*------- Banner ----------*/
.main-banner {
  position: relative;
  height: 100%;
  @include from(m) {
    position: static;
  }
}
.banner-image {
  margin-top: 2.1rem;
  @include from(m) {
    //background: red;
    width: 100%;
  }
}
.div {
  width: 80%;
  height: 70%;
  background: $sofBlue;
  position: absolute;
  top: calc(1.5rem * 3.4);
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 5rem;
  @include from(m) {
    width: 35%;
    height: 40%;
    top: 39%;
  }
}
.main-content-banner {
  //background: rgba(255, 0, 0, 0.616);
  @include from(m) {
    position: relative;
    padding: 10rem;
  }
}
.m-100 {
  @include from(m) {
    display: flex;
  }
}
.main-banner {
  //background: green;
  order: 2;
}
