.btn {
  font-size: 0.8rem;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.219);
}
.btn-blue {
  background: $sofBlue;
  color: #fff;
}
.btn-white {
  background: hsl(0, 0%, 95%);
  color: $veryBarkBlue;
}
.top-1 {
  margin-top: 0.9rem;
  @include from(m) {
    position: absolute;
  }
}
.to {
  left: calc(2rem * 4);
}
