.main-section-contact {
  background: $sofBlue;
  @include from(m) {
    padding: 5em;
  }
}
.contact-content {
  text-align: center;
  padding: 1em;
  margin-top: 2rem;
  @include from(m) {
    width: 40%;
  }
}
.l-center {
  @include from(m) {
    display: flex;
    justify-content: center;
  }
}
.form-data {
  @include from(m) {
    display: flex;
    width: 100%;
  }
}
.contact-mail {
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 0.2em;
  margin-top: 1rem;
}
.btn-red {
  background: $softRed;
  color: #fff;
  margin-top: 1rem;
  @include from(m) {
    width: 40%;
    margin-left: 1rem;
  }
}
.contact-data {
  color: #fff;
}
.contact-title {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.contact-sub-title {
  margin-top: 0.6rem;
}
