.content-features {
  //background: rgba(87, 87, 122, 0.678);
  height: calc(150px * 6.3);
}
.data-content-features {
  display: flex;
  justify-content: center;
}
.data-features {
  margin-top: 5rem;
  text-align: center;
  padding: 1.4rem;
  @include from(m) {
    width: 50%;
  }
  // background: rgba(255, 255, 0, 0.288);
  &__title {
    font-weight: 500;
  }
  &__text {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: $grayishBlue;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.1rem;
  }
}
