.main-header {
  height: $header-hight;
}
.l-cont {
  display: flex;
  justify-content: space-between; // justify space to space
  align-items: center; // justify to cross direction
  height: 100%; // adjust to header
}
.logo {
  margin-left: 1.5rem;

  @include from(m) {
    margin: 0;
  }
}
.icon-nav {
  margin: 1rem;
  margin-right: -2rem;
  @include from(m) {
    display: none;
    margin: 0;
  }
}
.main-nav {
  position: relative;
  @include from(m) {
    position: static;
  }
}

.nav-list {
  background: hsla(229, 31%, 21%, 0.671);
  padding: 5rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: scale(0);
  z-index: 100;
  @include from(m) {
    transform: scale(1);
    position: static;
    padding: 0;
    background: transparent;
  }
  &__item {
    @include from(m) {
      display: inline-block;
    }
    list-style: none;
    margin: 1rem 2rem;
  }
  &__link {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding: 0.5rem;
    @include from(m) {
      color: $veryBarkBlue;
    }
    &:hover {
      color: $softRed;
      cursor: pointer;
      border: 1px solid $softRed;
      border-radius: 0.2rem;
    }
  }
}
.active {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.close {
  @include from(m) {
    display: none;
  }
}
