.question-data {
  text-align: center;
}
.data__title {
  color: $veryBarkBlue;
  margin-top: 5rem;
}
.data__paragraph {
  padding: 1em;
  color: $grayishBlue;
  font-size: 0.9rem;
  line-height: 1.5;
}
