.simple-text {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include from(m) {
    text-align: left;
    width: 80%;
    //background: greenyellow;
    padding: 0em;
    font-size: 2rem;
    @include from(m) {
      position: relative;
      width: 100%;
    }
  }
  &__title {
    font-weight: 500;
    color: $veryBarkBlue;
  }
  &__paragraph {
    margin-top: 0.4rem;
    font-size: 0.8rem;
    padding: 1.5rem;
    color: $grayishBlue;
    @include from(m) {
      margin-top: 1rem;
      padding: 0;
      font-size: 1rem;
    }
  }
}
.container-simple-text {
  //background: blue;
  @include from(m) {
    width: 50%;
  }
}
