.tab-nav {
  text-align: center;
  padding: 1em;
  @include from(m) {
    display: flex;
  }
}
.tabs-list {
  @include from(m) {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
.tab {
  list-style: none;
  padding: 0.7em;
  position: relative;
  border-bottom: 1px solid #ccc;
  color: $grayishBlue;
  cursor: pointer;
  @include from(m) {
    //background: red;
    margin: 0.5rem;
  }
  &.active {
    position: relative;
    z-index: 2;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 5px;
      background: red;
      bottom: 0;
      margin: 0 0 0 5.6rem;
    }
  }
}
.main-section-features {
  //background: red;
  position: relative;
}
.tab-panel__image {
  //background: blue;
  @include from(m) {
    //position: absolute;
    //left: 6rem;
  }
}
.container {
  //position: relative;
}
.tab-panel__data {
  margin-top: calc(2rem * 1.9);
  margin-bottom: 1rem;
  text-align: center;
  @include from(m) {
    // background: yellow;
    width: 40%;
    text-align: left;
  }
}

.tab-data--title {
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: $veryBarkBlue;
}
.tab-data--description {
  color: $grayishBlue;
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.div-left {
  width: 80%;
  height: 20%;
  background: $sofBlue;
  position: absolute;
  top: calc(3rem * 10);
  margin-left: 0;
  z-index: -1;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  @include from(m) {
    left: 0;
    height: 35%;
    width: 40%;
    bottom: 10rem;
  }
}
.tab-panel {
  position: absolute;
  //display: block;
  padding: 1rem;
  left: 0;
  // width: 100%;
  //top: 50rem;
  //background: yellow;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  &.active {
    position: absolute;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
  @include from(m) {
    //background: red;
    //left: 50%;
    //transform: translate(-50%);
    top: 0;
    display: flex;
    justify-content: space-between;
  }
}
.container-tab {
  //position: absolute;
  //background: red;
  @include from(m) {
    //background: blue;
    width: 70%;
    padding: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
}
